@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --background: #0a0a0a;
  --foreground: #ededed;
}



body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}
